

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Text Colors*/
.mine{
    color:#00aae6;
}
.black{
    color:#222;
}
.pink{
    color:rgb(205, 92, 130);
}
.purple{
    color:plum;
}
.red{
    color:rgb(209, 26, 26);
}
.lemon{
    color:lawngreen;
}
.yellow{
    color:rgb(218, 218, 93);
}
.peru{
    color:peru;
}
.blue{
    color:rgb(10, 10, 95);
}
.strong{
    font-weight: bold;
}
/*End of Colors*/


html,body{
    font-family:'Eczar', serif;
    height:100%;
    width:100%;
    
}
html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
canvas{
    display:block;
    vertical-align : bottom;
}  

/*General Class names*/
.tab-pane{
    width:98%;
    height:100%;
    margin-top:12px;
    margin-bottom:12px;
    margin-left:1%;
    border-radius: 5px;
    box-shadow: 0 0 1em black;
    -webkit-box-shadow: 0 0 1em black;
    -moz-box-shadow: 0 0 1em black;
    padding-top:70px;
    padding-bottom:70px;
}
.tab-icon{
    width:100px;
    height:100px;
}
.tab-icon img{
    max-width:100%;
    max-height:100%;
    position:relative;
}
.description{
    text-align:justify;
    line-height:1.5em;
    margin-top: 20px;
}
.textlink{
    text-decoration: underline;
}
.textlink:hover{
    color:peru;
}
/*End of general class names*/

/*header styling*/
#header{
    margin-top:0;
    
}
.header{
    background-color: #00aae6;
    width: 98%;
    height:500px;
    margin-top:12px;
    margin-left:1%;
    border-radius: 5px 5px 0px 0px;
    margin-bottom:0px;
    
}

.myPic{
    float:right;
    height: 90%;
    width:300px;
    margin-right: 170px;
    margin-top:60px; 
}
.myPic img{
    border-radius: 40%;
    max-width:300px;
    max-height:100%;
    
}

.intro{
    margin-left:170px;
    color:white;
    font-size:2em;
    height:70%;
    width:650px;
    margin-top:60px;
    position:relative;
    float:left;
}
/*End Of Header Styling*/

/*tab menu styling*/
.tabMenu{
    width: 98%;
    background-color: #00aae6;
    margin-top:0;
    margin-left:1%;
    border-radius: 0px 0px 5px 5px;
    height:80px;
    position: relative;
    color:white;
    opacity:0.8;
    border-top:1px solid white;
    
    
    
}
li{
    list-style-type: none;
}
.nav.nav-tabs{
    width:550px;
    margin:8px auto;
}
.nav-item a{
    color:white;
}
a{
    outline: none;
    text-decoration: none;
}
.tabMenu .nav-tabs{
    border-bottom: none;
    position: relative;
}
.tabMenu .nav-tabs li{
    margin-bottom: 0;
    width:135px;
}
.tabMenu .nav-tabs li a{
    display: block;
    padding: 15px 20px;
    border: none;
    border-radius: 0;
    font-size:17px;
    font-weight: 700;
    color:white;
    margin-right: 1px;
    text-align: center;
    z-index: 1;
    transition: all 0.2s ease 0s;
}
.tabMenu .nav-tabs li.active a,
.tabMenu .nav-tabs li a:hover,
.nav-tabs .nav-link.active{
    background: rgb(37, 37, 37);
    color: #fff;
    border: none;
    opacity: 0.8;
}

.tabMenu .nav-tabs li a:after{
    content: "";
    width: 100%;
    position: absolute;
    top: -3px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.nav-link i{
    margin-right:5px;
}

/*End of Tab Menu styling*/

/*Contact Form Styles*/
#contact{
    
}
.contact-text{
    
    margin-right:25px;
    margin-top:50px;
}
.bg{
    padding-right: 30px;
    background-image: url("../img/message.png");
    background-repeat: no-repeat;
    background-size:cover; 
}    
.contact-text h3{
    height:100%;
    text-align:justify;
    line-height: 1.5em;
    
}
.bg-contact {
    width: 100%;  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  .container-contact {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #00aae6;
  }
  
  .wrap-contact {
    width: 1163px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 110px 130px 157px 148px;
  }
  
 
  .contact-form {
    margin-left:30px;
  }
  
  .contact-form-title {
    font-family:'Eczar', serif;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 15px;
  }
  
  input.input100 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 50px;
  }
  
  input.input100[name="email"] {
    padding: 0 30px 0 54px;
  }
  
  textarea.input100 {
    min-height: 150px;
    border-radius: 25px;
    padding: 14px 30px;
  }
  .socials{
      padding-top:10px;
  }
  /*---------------------------------------------*/
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .input100 {
    display: block;
    width: 100%;
    background: #f0ebeb;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    border:none;
    outline:none;
  }
  /*------------------------------------------------------------------
  [ Focus ]*/
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #00aae6;
    outline:none;
  }
  
  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 60px 25px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 60px 25px;
      opacity: 0;
    }
  }
  
  .symbol-input100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
    color: #aaaaaa;
    font-size: 15px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: #00aae6;
    padding-left: 22px;
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-contact-form-btn {
    width: 100%;
    margin:5px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    border:none;
    outline:none;
  }
  
  .contact-form-btn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background:#00aae6;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    border:none;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact-form-btn:hover {
    background: #333333;
  }
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: 'Montserrat', sans-serif;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "ยก";
    font-family: 'Montserrat', sans-serif;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
 /*End of contact styles*/
  
  
/*Resonsive*/ 

  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }

  @media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .tab .nav-tabs li:last-child{
        margin-bottom: 0;
    }
}
@media screen and (max-width:1300px){
    .myPic{
        margin-right: 50px;
    }
    .intro{
        margin-left: 50px;
        
    }
   
}
@media screen and (max-width:1100px){
    .header{
        height:620px;
    }
    
    .myPic {
        margin:0px auto;
        float:none;
        width:250px;
        height:350px;
    }
    .intro{
        margin:40px auto;
        max-width:90%;
        font-size:1.5em;
        text-align:center;
        float:none;
    } 
}

@media screen and (max-width:500px){
    .myPic {
        width:200px;
        height:250px;
        margin:0px auto;
    }
    .myPic img{
        margin-top: 20px;
        
    }
    .intro{
        font-size:1em;
        margin:15px auto;
        text-align:center;
        width:100%;
        float:none;
        padding-top: 20px; 
    }
    .header{
        width:100%;
        margin:0;
        height:500px;
    }
    .tabMenu{
        width:100%;
        margin:0;
        height:190px;
    }
    .nav.nav-tabs{
        width:70%;
        font-weight:100;
        text-align:center;
        display: block;
    }
    .tabMenu .nav-tabs li{
        width:100%;
        margin-top: 5px;
    }
    .tabMenu .nav-tabs li a{
        font-size:20px;
        font-weight:normal;
    }
    .nav-tabs .nav-item{
        display: block;
    }
    .tabMenu .nav-tabs li a{
        padding: 5px 20px;
    }
    
    .contact-text h3{
        font-size:25px;
    }
    
}
@media screen and (max-width:770px){
    .contact-text{
        margin-top: 50px;
        margin-right:0;
        
    }
    .tab-icon{
        margin:0 auto;
    }
    .contact-form-title{
        margin-top: 30px;
        
    }
    .contact-form{
        margin-left:0; 
    }
}



/*Particles js styling*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}